<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="images/tg.ico">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <title>Contact us</title>
</head>

<body class="d-flex flex-column min-vh-100" style="overflow-x:hidden; width: 100%;">
   <header><nav class="navbar navbar-expand-lg navbar-light row col-ms"style="background-color: rgb(172, 205, 238);">
        <div class="container-fluid ">
            <a class="navbar-brand mx-2" href="#"><img src="images/image3.svg" alt="Laundry logo"></a>
            <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon pb-lg-2 "></span>
            </button>
        <div class="collapse navbar-collapse mt-3 container-fluid" id="navbarTogglerDemo01">
            <ul class="nav nav-tabs nav-pills navbar-nav me-auto mb-4 mb-lg-0 ms-auto" style="width: auto;">
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action btn btn-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action rounded-pill btn btn-link" href="#">Profile</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action rounded-pill btn btn-link" href="#">Contact</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action rounded-pill btn btn-link" href="#" >Register</a>
                </li>
              </ul>
                <button class="btn btn-outline-primary  text-dark " type="submit">Log in</button>
        </div>
        </div>
    </nav></header>
   <main >
    <section class="form col-ms container-fluid mb-5">
        <div class="container mx-auto" style="max-width: 600px; margin-top:4rem;">
        <form>
            <div class="form-row mt-3 mx-auto" style="max-width: 600px;">
            <div class="col-lg-12 mt-5">
                <h1 class=" text-center text-primary" >Contact US</h1>
            </div>
            <div class="form-row mt-5">
                <div class="col-12 pt-lg-3 pl-lg-2 ">
                    <div class="input-group mb-3 ">
                        <label hidden for="username">username</label>
                        <input type="text" class="form-control col-12" id="username" placeholder="Username" aria-label="username" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-12 pt-lg-3 pl-lg-2 ">
                        <div class="input-group mb-3 ">
                            <label hidden for="id">ID</label>
                            <input type="text" class="form-control col-12" id="id" placeholder=" School ID" aria-label="id" aria-describedby="basic-addon1">
                        </div>
                    </div>

                <div class="form-row mt-3">
                    <div class="col-12 pt-lg-3 pl-lg-2 ">
                        <div class="input-group mb-3 ">
                            <label hidden for="email">email</label>
                            <input type="text" class="form-control col-12" id="email" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
                        </div>
                    </div>

                     <div class="form-row mt-3">
                <div class="col-12 pt-lg-3 pl-lg-2 ">
                    <div class="input-group mb-3 ">
                        <label hidden for="message">message</label>
                        <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>

              </div>
            <div class="form-row my-12">
            <div class="col-12 pt-lg-3 pl-lg-2">
            <button type="button" class="btn btn-primary btn-lg-7 btn-block col-12">Submit</button>
        </div>
        </form></div>
    </section>
</main>
<footer class="mt-auto" style="background-color: rgb(172, 205, 238);">
    <div class="container-fluid">
    <div class="mx-auto text-center" style="max-width: 700px; border-top: 2px solid blueviolet;">
        <a class="fs-2 text-secondary p-3 btn btn-link" href="#"><i class="fab fa-facebook"></i></a>
        <a class="fs-2 text-secondary p-3 btn btn-link" href="#"><i class="fab fa-twitter"></i></a>
        <a class="fs-2 text-secondary p-3 btn btn-link" href="#"><i class="fab fa-telegram"></i></a>
        <a class="fs-2 text-secondary p-3 btn btn-link" href="#"><i class="fas fa-envelope"></i></a>
        <a class="fs-2 p-3  text-secondary btn btn-link" href="#"><i class="fab fa-instagram-square"></i></a>
    </div>
    <div class="container my-2 d-flex flex-wrap mx-auto row h-100 justify-content-center align-items-center">
      <div class="d-flex flex-column col-auto">
        <p class="col-auto" ><a class="text-dark list-group-item-action rounded-pill btn btn-link " href="#">About Us</a></p>
        <p class="col-auto"><a class="text-dark list-group-item-action rounded-pill btn btn-link"href="#">Contact Us</a></p>
      </div> <div class="d-flex flex-column col-auto">
        <p class="col-auto"><a class="text-dark list-group-item-action rounded-pill btn btn-link"href="#">Privacy</a></p>
        <p class="col-auto"><a class="text-dark list-group-item-action rounded-pill btn btn-link" href="#">Terms</a></p>
    </div></div>
    <p class="text-center pl-6 text-dark mt-1">Copyright &copy; 2022 Rinse, Inc. All Rights Reserved</p>
</div>
</footer>
    <script src="https://kit.fontawesome.com/0605e8c2de.js" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>