<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Home</title>
</head>
<body class="d-flex flex-column min-vh-100" style="overflow-x:hidden; ">
    <nav class="navbar navbar-expand-lg navbar-light row col-ms"style="background-color: #c8d8e4;">
        <div class="container-fluid ">
            <a class="navbar-brand mx-2" th:href="@{/}"><img class='img-fluid rounded-circle' style="width:60px" th:src="@{images/logo.svg}" alt="Laundry logo"></a>
            <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon pb-lg-2 "></span>
            </button>
        <div class="collapse navbar-collapse mt-3 container-fluid" id="navbarTogglerDemo01">
            <ul class="nav nav-tabs nav-pills navbar-nav me-auto mb-4 mb-lg-0 ms-auto" style="width: auto;">
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action btn btn-link active" aria-current="page" th:href="@{/}" >Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action rounded-pill btn btn-link" th:href="@{/profile}" >Profile</a>
                </li>
                <div th:if="${status}=='signedout'">
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action rounded-pill btn btn-link" th:href="@{/sign-up}"  >Register</a>
                </li>
              </div>
                <li class="nav-item mx-3">
                  <a class="nav-link text-dark list-group-item-action rounded-pill btn btn-link" th:href="@{/order}" >order</a>
                </li>
              </ul>
             

              <div th:switch="${status}">
                <div th:case="loggedin">
                  <div th:switch="${user.role}">
                    <div th:case="ADMIN">
                      <a th:href="@{\admin}"><button class="btn my-2 btn-outline-primary  text-dark " type="button">Admin DashBoard</button></a>
    
                    </div>
                   
    
                  </div>
                  <a th:href="@{\logout}"><button class="btn btn-outline-primary  text-dark " type="button">Logout</button></a>
                </div>
                <a th:case="signedout" th:href="@{\login}"><button class="btn btn-outline-primary  text-dark " type="button">Log in</button></a>
               
              </div>
               
        </div>
        </div>
    </nav>
   <main>
    <section class="form col-ms container-fluid mb-5">
        <div class="container mx-auto" style="width: auto">
            <div class="row no-gutters">
              <div class="col-lg-6 align-self-center">
                 <div class="container my-auto mt-4">
                     <div class="row h-100 justify-content-center align-items-center">
                     <h1 class="fs-4 fw-lighter text-reset"style="color: rgb(160, 154, 147) !important">SAVE UP TO 6 HOURS PER WEEK.</h1>
                     <p class="text-info" style="font-size: 3em !important;">Say Goodbye to Laundry Day.</p>
                     <p class="fs-3">We pick up, cleans, and delivers your laundry and dry cleaning.</p>
                     <div class="col-12">

                      <div th:switch="${status}">
                        <a th:case="loggedin" th:href="@{/order}"><button type="button" class="btn btn-primary btn-lg-7 btn-block col-5 mt-2 ">Order Now</button></a>
                        <a th:case="signedout" th:href="@{/login}"><button type="button" class="btn btn-primary btn-lg-7 btn-block col-5 mt-2 ">LOG IN</button></a>
                      </div>
                    
                 </div></div>
                </div>
              </div>
              <div class="col-lg-6 container">
                   <img class="img-fluid my-3"  th:src="@{images/logo.svg}" alt="laundary image">
              </div>
            </div>
        </div>
        <div class="d-flex justify-content-evenly my-5 flex-wrap">
            <div >
        <figure class="figure col-12 d-flex flex-column align-items-center">
            <img th:src="@{images/image2.jpg}" class="figure-img img-fluid rounded-circle img-thumbnail" alt="man sitting picture">
            <figcaption class="figure-caption col-sm-5"><h2 class="text-center bold">Schedule a pickup 7 days a week.</h2>
                <p>Schedule via text, the web, or the app. Your Valet will always arrive between 8pm and 10pm.A caption for the above image.</p>
            </figcaption>
        </figure>
    </div>
<div >
         <figure class="figure col-12 d-flex flex-column align-items-center">
            <img th:src="@{images/image2.jpg}" class="figure-img img-fluid rounded-circle img-thumbnail" alt="man sitting picture">
            <figcaption class="figure-caption col-sm-5"><h2 class="text-center bold">Enjoy your free time.</h2>
                <p> You get 3 extra hours in your week and clothing care from experts who are masters of their craft.</p></figcaption>
        </figure>
 </div>

        <div >
        <figure class="figure col-12 d-flex flex-column align-items-center">
            <img th:src="@{/images/image2.jpg}" class="figure-img img-fluid rounded-circle img-thumbnail mx-auto  " alt="man sitting picture">
            <figcaption class="figure-caption col-sm-5 "><h2 class="text-center bold">Relax with delivery right to your door.</h2>
                <p> We deliver your clothes clean, crisp, and ready to wear. Next-Day Rush options available.</p></figcaption>
        </figure>
        </div>

        <div class="container mx-auto col-12 row h-100 justify-content-center align-items-center" style="max-width: 700px;">
            <div class=" col-12 mx-auto" style="max-width: auto;">
           <!-- <button type="button" class="btn btn-primary btn-lg-7 btn-block  mt-2 col-12">Learn about your first pick up</button> -->
           <button type="button" class="btn btn-primary btn-lg-7 btn-block  mt-2 col-12"data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Learn about your first pick up</button>

           <div class="offcanvas offcanvas-top"style="height: 50vh;" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
             <div class="offcanvas-header">
               <h1 id="offcanvasTopLabel" class=" text-primary mx-auto">What to expect on your first Rinse.</h1>
               <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
             </div>
             <div class="offcanvas-body d-flex flex-wrap">
               <div class="col-3 mx-2" style="min-width: 300px;">
               <h2 class="text-primary" style="border-bottom: 1px solid black;">Pick UP</h2>
              <p>
   At 5:30pm on the evening of your scheduled pickup, you'll receive a text message with a 30-minute estimated time of arrival for your Valet between 8pm and 10pm. All you have to do is have your clothes ready in a hamper or pile by the door.
    </p>
   <p>
   All pickups and deliveries are no-contact. Your Valet will walk you through your first socially-distanced pickup and answer any questions you may have.
   </p>
   </div>
    <div class="col-4 mx-2" style="min-width: 300px;">
   <h2 class="text-primary" style="border-bottom: 1px solid black;">cleaning</h2>
   <p>
   Once we pick up your clothes, we'll take them to one of our vetted local cleaning partners.  Your clothes will then be inspected for stains and items that shouldn't be washed, and professionally cleaned according to the service you selected.
   </p> </div>
   <div class="col-3 mx-2" style="min-width: 300px;">
     <h2 class="text-primary" style="border-bottom: 1px solid black;">Delivery</h2>
   <P> Once confirmed, you'll receive another text message at 5:30pm with an estimated time of arrival for your Valet. Your Valet will deliver your clean clothes, ready to wear!
   </P>
   <p> <em>Our standard turnaround for orders is 3-4 days.</em>Next-Day Rush Delivery is always included with your Rinse Repeat Wash &amp; Fold plan. Next-Day Rush Delivery is available for Pay-As-You-Go Wash &amp; Fold orders for a $5 fee.
   </p>
   </div>
   
             </div>
           </div>  
        </div>
    </div>
    </section >
    <section class="form col-ms container-fluid mb-5 row h-100 justify-content-center align-items-center">
         <div class="row no-gutters">
              <div class="col-lg-5 align-self-center">            
                  <h2 style="color: rgb(160, 154, 147)">AN AWARD-WINNING SERVICE</h2>
                  <h2 style="color: rgb(160, 154, 147)">250+ YEARS OF CUSTOMER TIME SAVED</h2>
                  <p class="fs-2">What our customers have to say...</p>
              </div>
              <div class="col-lg-5 align-self-center">
                <div id="carouselExampleDark" class="carousel carousel-dark slide mr-auto" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner shadow-lg p-3 mb-5 bg-body rounded">
    <div class="carousel-item active col-5" data-bs-interval="1000">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{images/images (1).jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Get A.</h5>
                  <p class="card-text">I love how much time frees up for me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{/images/images (2).jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Heni S.</h5>
                  <p class="card-text">In such i will like to say thanks, for providing me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{/images/images (3).jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Jack E.</h5>
                  <p class="card-text">I love how much time frees up for me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{images/images (4).png}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Max U.</h5>
                  <p class="card-text"> With Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
     <div class="carousel-item">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{/images/images (3).jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Aman F.</h5>
                  <p class="card-text">I love how much time frees up for me to spend with my family. I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
              </div>
         </div>


    </section>
</main>
<footer class="mt-auto" style="background-color: #c8d8e4;">
  <div class="container-fluid">
  <div class="mx-auto text-center" style="max-width: 700px; border-top: 2px solid blueviolet;">
      <a class="fs-2 p-3 btn btn-link" href="https://www.facebook.com/Getnet Adugna"><i class="fab fa-facebook"></i></a>
      <a class="fs-2 p-3 btn btn-link" href="https://www.twitter.com/Getnet Adugna"><i class="fab fa-twitter"></i></a>
      <a class="fs-2 p-3 btn btn-link" href="https://www.telegram.com/Getnet Adugna"><i class="fab fa-telegram"></i></a>
      <a class="fs-2 p-3  text-warning btn btn-link" href="https://www.Gmail.com/Getnet Adugna"><i class="fas fa-envelope"></i></a>
      <a class="fs-2 p-3  text-danger btn btn-link" href="https://www.instagram.com/Getnet Adugna"><i class="fab fa-instagram-square"></i></a>
  </div>
  <div class="container my-2 d-flex flex-wrap mx-auto row h-100 justify-content-center align-items-center">
    <div class="d-flex flex-column col-auto">
      <!-- <p class="col-auto" ><a class="text-dark text-decoration-none fs-5 list-group-item-action rounded-pill btn btn-link " href="#">About Us</a></p> -->
      <p class="col-auto"><a class="text-dark text-decoration-none fs-5 list-group-item-action rounded-pill btn btn-link" th:href="@{/accessability}">Accessability</a></p>
    <!-- </div>  -->
    <!-- <div class="d-flex flex-column col-auto"> -->
      <p class="col-auto"><a class="text-dark  fs-5 text-decoration-none list-group-item-action rounded-pill btn btn-link"th:href="@{/privacy}">Privacy</a></p>
      <p class="col-auto"><a class="text-dark  fs-5 text-decoration-none list-group-item-action rounded-pill btn btn-link" th:href="@{/terms}">Terms</a></p>
  <!-- </div> -->
</div>
  <p class="text-center  fs-5 pl-6 text-dark mt-1">Copyright &copy; 2022 AAU Laundry, Inc. All Rights Reserved</p>
</div>
</footer>
    <script th:src="@{https://kit.fontawesome.com/0605e8c2de.js}" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
    <!-- <section class="form col-ms container-fluid mb-5 row h-100 justify-content-center align-items-center">
         <div class="row no-gutters">
              <div class="col-lg-5 align-self-center">            
                  <h2 style="color: rgb(160, 154, 147)">AN AWARD-WINNING SERVICE</h2>
                  <h2 style="color: rgb(160, 154, 147)">250+ YEARS OF CUSTOMER TIME SAVED</h2>
                  <p class="fs-2">What our customers have to say...</p>
              </div>
              <div class="col-lg-5 align-self-center">
                <div id="carouselExampleDark" class="carousel carousel-dark slide mr-auto" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner shadow-lg p-3 mb-5 bg-body rounded">
    <div class="carousel-item active col-5" data-bs-interval="1000">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{images/image2.jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gech A., AAU</h5>
                  <p class="card-text">I love how much time Rinse frees up for me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{/images/image2.jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gech A., AAU</h5>
                  <p class="card-text">I love how much time Rinse frees up for me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{/images/image2.jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gech A., AAU</h5>
                  <p class="card-text">I love how much time Rinse frees up for me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{images/image2.jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gech A., AAU</h5>
                  <p class="card-text">I love how much time Rinse frees up for me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
     <div class="carousel-item">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0 mr-3">
              <div class="col-md-4 rounded-circle">
                <img th:src="@{/images/image2.jpg}" class="img-fluid rounded-start" alt="customers image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gech A., AAU</h5>
                  <p class="card-text">I love how much time Rinse frees up for me to spend with my family. And now, with Covid,
                    I’m very glad that I don’t have to go into the laundry room
                    of our large condo building to do our wash each week.</p>
                </div>
              </div>
            </div>
          </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
              </div>
         </div>


    </section>
</main>
<footer class="mt-auto" style="background-color: #c8d8e4;">
    <div class="container-fluid">
    <div class="mx-auto text-center" style="max-width: 700px; border-top: 2px solid blueviolet;">
        <a class="fs-2 p-3 btn btn-link" href="#"><i class="fab fa-facebook"></i></a>
        <a class="fs-2 p-3 btn btn-link" href="#"><i class="fab fa-twitter"></i></a>
        <a class="fs-2 p-3 btn btn-link" href="#"><i class="fab fa-telegram"></i></a>
        <a class="fs-2 p-3  text-warning btn btn-link" href="#"><i class="fas fa-envelope"></i></a>
        <a class="fs-2 p-3  text-danger btn btn-link" href="#"><i class="fab fa-instagram-square"></i></a>
    </div>
    <div class="container my-2 d-flex flex-wrap mx-auto row h-100 justify-content-center align-items-center">
      <div class="d-flex flex-column col-auto">
        <p class="col-auto" ><a class="text-dark text-decoration-none fs-5 list-group-item-action rounded-pill btn btn-link " href="#">About Us</a></p>
        <p class="col-auto"><a class="text-dark text-decoration-none fs-5 list-group-item-action rounded-pill btn btn-link"href="#">Contact Us</a></p>
      </div> <div class="d-flex flex-column col-auto">
        <p class="col-auto"><a class="text-dark  fs-5 text-decoration-none list-group-item-action rounded-pill btn btn-link"href="#">Privacy</a></p>
        <p class="col-auto"><a class="text-dark  fs-5 text-decoration-none list-group-item-action rounded-pill btn btn-link" href="#">Terms</a></p>
    </div></div>
    <p class="text-center  fs-5 pl-6 text-dark mt-1">Copyright &copy; 2022 AAU laundary, Inc. All Rights Reserved</p>
</div>
</footer>
    <script th:src="@{https://kit.fontawesome.com/0605e8c2de.js}" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html> -->
